.search-pg {
  display: flex;
  flex-direction: column;
  width: auto;
}

.search-pg-title {
  margin: 4% 2% 4% 2%;
  padding-left: 1em;
  border-left: #CAD5CA 5px solid;
}

.search-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 2%;
  border: 1px lightgrey solid;
  border-radius: 3px;
  padding: 3em;
}

label {
  display: flex;
  flex-direction: column;
}

.keyword-input {
  margin: 15px 0 15px 0;
  width: 95%;
  height: 2em;
  font-size: 16px;
}

.search-btn {
  height: 3em;
  width: 10em;
  align-self: flex-end;
}

.input-error {
  color: red;
}

.no-results {
  margin: 2%;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .search-form {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .keyword-input {
    font-size: .8em;
  }
}