.nav-bar {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.logo {
  background-image: url("../../assets/ticket-logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 45px;
  width: 45px;
}

.links-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.nav-btn {
  text-decoration: none;
  color: #000;
  height: 100%;
  margin: 2%;
}